:root{
    --mainBg: #333333
}
body{
    background-color: var(--mainBg);
}

.main{
    height: 100%;
    text-align: center;
    padding: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b1ffb1;
}
h1 {
    font-size: 80px;
    margin: 20px;
}
.description{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.description p{
    width: 70%;
}
.button-container{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.button{
    margin: 10px;
    padding: 10px;
    flex: 1 1 auto;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    width: 50%;
}
.button{
    background-color: #b1ffb1;
}
.button:hover{
    background-color: #80b980;
}
.button:active{
    background-color: #507550;
}

#score-button{
    background-color: #8093ff;
}
#score-button:hover{
    background-color: #6a68ce;
}
#score-button:active{
    background-color: #5e58ac;
}

/* timer styles */
.timer{
    font-size: 30px;
    margin-bottom: 40px;
}
#timer{
    text-align: left;
}
#timer-value{
    font-weight: bolder;
    color: #ff4444
}

/* question styles */
.question{
    font-size: 50px;
    margin: 20px;
}

/* answer styles */
.answers-ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    font-size: 30px;
}
.answer-button{
    margin-bottom: 20px;
    background-color: #b1ffb1;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
}
.answer-button:hover{
    background-color: #c1ffc1;
}
.answer-button:active{
    background-color: #94d694;
}

/* right/wrong notification styles*/
.right-wrong{
    margin-top: 20px;
    font-size: 30px;
}
#right{
    color: #17db17
}
#wrong{
    color: #ff3232
}

/* styles for game over screen */
#game-over{
    font-size: 80px;
    margin: 40px
}
.score-display{
    font-size: 30px;
    margin: 20px
}
.score-display span{
    color: #17db17;
}
.initials-entry{
    margin-bottom: 50px;
}

/* styles for score screen */

.score-header{
    font-size: 80px;
    margin: 40px
}
.score-list{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 10%;
}
.score-list li{
    margin-bottom: 20px;
}
.score-list li span{
    color: #17db17;
}